:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* Margins
##########*/

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.ml-0 {
    margin-bottom: 0;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.ml-5 {
    margin-bottom: 5px;
}

.ml-10 {
    margin-bottom: 10px;
}

.ml-15 {
    margin-bottom: 15px;
}

.ml-20 {
    margin-bottom: 20px;
}

.ml-25 {
    margin-bottom: 25px;
}

/* Padding
############*/

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-15 {
    padding-left: 15px;
}

/* Postitions
############*/

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

/* Text Align
#############*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Font Weight
############*/

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

.font-normal {
    font-weight: normal;
}

/* Text Color
############*/

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.text-grey {
    color: var(--grey-color);
}

.text-red {
    color: var(--red-color);
}

.text-green {
    color: var(--green-color);
}

.text-blue {
    color: var(--blue-color);
}

.text-orange {
    color: var(--orange-color);
}

/* Background
############*/

.bg-red {
    background-color: var(--red-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

/* Font Size
############*/

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-25 {
    font-size: 25px;
}

/* Display
########*/

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

/* Gap 
#######*/

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

/* Flex
#######*/

.f-wrap {
    flex-wrap: wrap;
}

.f-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* Border Radious
###############*/

.rounded-5 {
    border-radius: 5px;
}

.rounded-6 {
    border-radius: 6px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-full {
    border-radius: 50%;
}

/* Border
#########*/

.border-none {
    border: none;
}

.border-ccc {
    border: 1px solid #ccc;
}

.border-eee {
    border: 1px solid #eee;
}


/* Width
#########*/

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-max {
    width: max-content;
}